<%- include('partials/header.ejs') %> 
<body>
    <div class="container">
        <%- include("partials/navbar.ejs") %> 
        <h1> Pergunta: <%= titulo %> </h1>
        <p>  Descrição: <%= pergunta.descricao %> </p>
    </div>
</body>
<%- include("partials/footer.ejs")  %> 